:root {
  --white: #FFFFFF;
  --dark: #272727;
  --primary: #9236EE;
  --danger: #FF6161;
  --access: #34dc0b;
  
  --bg: #E1D7FD;
  --bg-light: #F1E9FF;
  --bg-dark: #D9D1F9;
  --shadow-hard: 3px 3px 15px rgba(0, 0, 0, 0.10);
  --shadow-soft: 3px 3px 15px rgba(0, 0, 0, 0.01);
  
  --inputPadding: 7px 12px;
}