* {
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --dark: #272727;
  --primary: #9236EE;
  --danger: #FF6161;
  --access: #34dc0b;
  
  --bg: #E1D7FD;
  --bg-light: #F1E9FF;
  --bg-dark: #D9D1F9;
  --shadow-hard: 3px 3px 15px rgba(0, 0, 0, 0.10);
  --shadow-soft: 3px 3px 15px rgba(0, 0, 0, 0.01);
  
  --inputPadding: 7px 12px;
}

body {
  color: var(--black);
  background: var(--bg);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
}

button {
  position: relative;
  background: var(--primary);
  box-shadow: var(--shadow-soft);
  border-radius: 5px;
  padding: var(--inputPadding);
  color: var(--white);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background: #ffffff1b;
}

button:active:after {
  background: #ffffff28;
}

input {
  padding: var(--inputPadding);
  color: var(--white);
  color: var(--dark);
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.controlBar {
  display: flex;
  justify-content: space-between;
}

.urlForm {
  display: flex;
  gap: 1em;
}

.urlInput {
  display: flex;
  box-shadow: var(--shadow-soft);
}

.urlInput > label {
  background: var(--primary);
  border-radius: 5px 0 0 5px;
  padding: var(--inputPadding);
  color: var(--white);
}

.urlInput > input {
  border-radius: 0 5px 5px 0;
}

.status {
  display: flex;
  align-items: center;
}

.statusLabel {
  background: var(--access);
  color: var(--white);
  border-radius: 3em;
  padding: 5px 8px;
  font-size: 12px;
  margin-left: 1em;
}

.statusLabel.disconnected {
  background: var(--danger);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  background: var(--bg-light);
  margin-top: 1em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow-hard);
  width: 100%;
}

tr:nth-child(2n) {
  background: var(--white);
}

th, td  {
  padding: var(--inputPadding);
  max-width: 10vw;
}

th {
  background: var(--primary);
  color: var(--white);
  text-align: left;
}

th:not(:last-child) {
  border-right: solid 2px var(--bg-dark);
}

td:not(:last-child) {
  border-right: solid 2px var(--primary);
}